    body{
        background-image: url("Imgs/jacytech-pequenininho.png");
        color: white;
        margin-top: 100px;
        text-align: center;
        }
        #area{
            border-radius: 20px;
            border: solid white 2px;
            background-color:black;
            margin-left: 30%;
            margin-right: 30%;
            
        }
        #n1,   #n2{
            width: -webkit-fill-available;
            padding: 10px;
            border-radius: 10px;
            border: none;

        }

        #n1{

        }
        #n2{
            
        }


         #cabeca{
            background-color: aqua;
            margin-bottom: 10px;
        }
        #area2{
            border: none;
            align-items: center;
        }
        #btn1, #btn2, #btn3, #btn4 {
            padding: 20px;
            background-color: aqua;
            font-size: 30px;
            font-family:'Arial black';
            border-radius: 8px;
            border: 1px white;
            margin-bottom: 10px;


        }#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
         background-color: whitesmoke;
         color: aqua;
        }
        #btn2, #btn3, #btn4 {
            margin-left: 15px;

            }
        #sms{ 

            background-color: transparent;
            border: solid aqua;
            border-radius: 10px;
            color: aqua;
            margin-top: 70px;
            font-family:'Arial';
        }
        #cabeca{
            font-family:'Arial';
            color: white;
            background-color: transparent;
            border: solid  aqua;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom:10px ;
            margin-bottom: 15px;
        }
        #cabeca:hover{
         background-color: whitesmoke;
         color: black;
        }